<!DOCTYPE html>
<html>
<head>
    <title>Python - Maps - Folium - Leadflet</title>
    <link rel="stylesheet" type="text/css" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css">
    <!-- Agregamos Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.2/css/bootstrap.min.css">
    <style>
        #map {
            height: 400px;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>Python - Maps - Folium - Leadflet</h1>
        <div id="map"></div>
        <div class="mt-3">
            <button id="startButton" class="btn btn-primary me-2">Iniciar</button>
            <button id="stopButton" class="btn btn-danger me-2">Detener</button>
            <button id="resetButton" class="btn btn-secondary">Reiniciar</button>
        </div>
    </div>

    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <!-- Agregamos Bootstrap JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.2/js/bootstrap.bundle.min.js"></script>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
