<!DOCTYPE html>
<html>
<head>
    <title>Coordenadas</title>
    <link rel="stylesheet" type="text/css" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css">
    <style>
        #map {
            height: 400px;
        }
    </style>
</head>
<body>
    <h1>Coordenadas</h1>
    <div id="map"></div>

    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        var map = L.map('map').setView([-28.579, -70.742], 16);
        var circle = L.circle([-28.581151132402457, -70.74742180606718], {
            color: 'red',
            fillColor: '#f03',
            fillOpacity: 0.5,
            radius: 50
        }).addTo(map);
        var polygon = L.polygon([
            [-28.577697780133278, -70.73972919381356],
            [-28.578597551844357, -70.7399115840282],
            [-28.57821597420524, -70.73888161575726]
        ]).addTo(map);

        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors',
            maxZoom: 18,
        }).addTo(map);

        $.get('/api/coordinates', function(response) {
            var coordenadas = response.coordenadas;

            var myIcon = L.icon({
                iconUrl: 'https://i.ibb.co/RcyK0M0/1.png',
                iconSize: [50, 50],
                iconAnchor: [16, 32],
            });

            var index = 0;
            var marker;

            function displayNextCoordinate() {
                var coordinates = coordenadas[index];
                var lat = coordinates[0];
                var lon = coordinates[1];

                if (marker) {
                    marker.setLatLng([lat, lon]);
                } else {
                    marker = L.marker([lat, lon], { icon: myIcon }).addTo(map);
                }

                index++;
                if (index < coordenadas.length) {
                    setTimeout(displayNextCoordinate, 3000);  // Retraso de 3 segundos entre cada coordenada
                }
            }

            displayNextCoordinate();
        });
    </script>
</body>
</html>
